* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: black;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 95%;
}

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

.efeito {
  transform: translateX(-20px);
  opacity: 0;
  animation: efeito 0.3s forwards;
}

@keyframes efeito {
  to {
    transform: initial;
    opacity: initial;
  }
}
